<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    {% block favicon %}
    <link rel="icon" href="data:,">
    {% endblock %}

    {% block meta_additional %}{% endblock %}

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock stylesheets %}
    {% block add_stylesheets %}{% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock javascripts %}
    {% block external_javascripts %}{% endblock %}
</head>


<body>
{% block extended_navbar %}{% endblock %}
{% block simple_navbar %}{% endblock %}
{% block top_menu %}{% endblock %}
{% block body %}
    <main>
        {% block main %}
        {% endblock %}
    </main>
{% endblock %}
</body>


{% block footer %}
    <footer></footer>
{% endblock %}

{% block additional_info %}{% endblock %}

{% block end_stylesheets %}{% endblock %}

{% block end_javascripts %}{% endblock %}
</html>
